<section class="section">
  <div class="columns about-list">
    <div class="column is-one-third content tablet-column">
      <a href="/{{ siteData.rootPath}}about/philosophy.html">
        <p class="image is-2by1">
          <img src="https://bulma.io/images/placeholders/640x320.png" alt="">
          <p class="title is-4">企業理念</p>
        </p>
      </a>
    </div>
    <div class="column is-one-third content tablet-column">
      <a href="/{{ siteData.rootPath}}about/company.html">
        <p class="image is-2by1">
          <img src="https://bulma.io/images/placeholders/640x320.png" alt="">
          <p class="title is-4">会社概要</p>
        </p>
      </a>
    </div>
    <div class="column is-one-third content tablet-column">
      <a href="/{{ siteData.rootPath}}about/service.html">
        <p class="image is-2by1">
          <img src="https://bulma.io/images/placeholders/640x320.png" alt="">
          <p class="title is-4">サービス・実績</p>
        </p>
      </a>
    </div>
  </div>
</section>
