{% extends "_layout/default.njk" %}
{% set pageData = {
  title: "サイト02 - 8/10のニュース",
  keywords: "キーワード01,キーワード02,キーワード03,キーワード04,キーワード05",
  description: "ページの概要が入ります。",
  path: "news/20200810.html",
  nav: "news",
  category: "news",
  barbaName: ""
} -%}

{% block head_files -%}
{{ super() }}
{%- endblock %}

{% block main_content %}
<div class="content">
  <section class="section">
    <h2>8/10のニュースの見出し01</h2>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </section>
  <section class="section">
    <h2>8/10のニュースの見出し02</h2>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </section>
  {%- import '_module/news-list.njk' as newsList -%}
  {{ newsList.recentlyNews(2, siteData.rootPath) }}
</div>
{% endblock %}

{% block foot_files -%}
{{ super() }}
{%- endblock %}
